

body{
    scroll-behavior: smooth;
    background-color: white;
   
}



#page1, #page2, #page3, #page4{
    display: flex;
    height: 1000px;
    background-color: white;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

#page1{
    background-color: red;
}
#page2{
    background-color: orange;
}
#page3{
    background-color: yellow;
}
#page4{
    background-color:green;
}


/* NavBar Shit */

.nav_parent{
    display: inline-flex;
    position: fixed;
    top: 0;
    left: 0;
    margin: auto;
    width: 100%;
    align-items: strech;
    
}
#nav {
    display: flex;
    padding: 0;
    width: 70%;
    margin: 0 auto;
    flex-direction: row;
    align-items: center;
    
    
    
}

#nav ul{
    display: inherit;
    width: 100%;
    padding: 0;
    justify-content: space-around;
    
    
}


#nav ul li {
    list-style: none;
    float: left; 
    padding: 10px;
    font-family: 'Varela Round', sans-serif;
    
    
    
    
}

#nav ul li a {
    font-size: 150%;;
    text-decoration: none;
    color: #C5C3C6;

}

#nav ul li a:hover {
    color: black;
}

.active{
    color: yellow;
}


.pg_header{
    display: flex;
    font-family: 'Ek Mukta', sans-serif;
    font-size: 400%;
    padding: 0;
    margin: 0;
    
    
}

.contact_info{
    display: flex;
   
    width: 40%;
    justify-content: center;

}

.contact_info ul{
    display: flex;
    width: 100%;
    list-style: none;
    justify-content: space-around;
    padding: 0;
    
    
}

.contact_info ul li{
    justify-content: center;
    color: silver ;
}

.contact_info ul li a{
    text-decoration: none;
    color: silver ;
    
}

.contact_info ul li a:visited{
    text-decoration: none;
}

.contact_info ul li img{
    height: 120px;
}

CSS

#nav .active a{
	color: #c3095f!important;
}
#nav .active a:after{
	content: '';
	border-bottom: 2px solid #c3095f;
	display: block;
	width: 100%;
	position: relative;
	top: 8px;
}











    

