
body{
    scroll-behavior: smooth;
    background-color: white;
    
    
}


/*General Page Layout*/
#page1, #page2, #page3, #page4{
    display: flex;
    height: 1000px;
    background-color: white;
    align-items: center;
    flex-direction: column;
    align-content: center;
    
}


.pg_wout_nav{
    display: flex;
    width: 100%;
    margin: auto;
    flex-direction: column;
    align-items: center;
    
    
    
}
.pg_header{
    display: flex;
    font-family: 'Ek Mukta', sans-serif;
    font-size: 400%;
    padding: 0;
    margin: 0;
    
}



/* NavBar Shit */

#nav .active a{
	color: black;
    
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
     :.5s;
  
}

#nav .active a:hover{
    color: black;
    -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  /* ...and now for the proper property */
  transition:.5s;
    
}


#nav a:hover{
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
 
    transition:.5s;
}

.nav_parent{
    display: inline-flex;
    position: fixed;
    top: 0;
    left: 0;
    margin: auto;
    width: 100%;
    align-items: strech;
    
    
}
#nav {
    display: flex;
    padding: 0;
    width: 70%;
    margin: 0 auto;
    flex-direction: row;
    align-items: center;
    
    
    
}

#nav ul{
    display: inherit;
    width: 100%;
    padding: 0;
    justify-content: space-around;
    
    
}


#nav ul li {
    list-style: none;
    float: left; 
    padding: 10px;
    font-family: 'Varela Round', sans-serif;
    
}

#nav ul li a {
    font-size: 150%;;
    text-decoration: none;
    color: #C5C3C6;

}

#nav ul li a:hover {
    color: dodgerblue;
}

/*About Page*/

.pg_intro{
    font-family: Ek Mukta;
    padding: 10px;
    margin: 0;
    font-size: 200%;
}

.about_me_display{
    width: 40%;
    margin: auto;
    display: flex;
    font-family: Nunito;
    
    
}

.about_me_display ul{
    display: inherit;
    width: 100%;
    list-style: none;
    padding: 0;
    justify-content: center;
    align-items: flex-start;
    align-content: center;

   
}

.about_me_display .display_group{
    display: flex;
    width: 100%;
    justify-content: space-around;
    flex-direction: column;
    align-items: center; 

   
}

.about_me_display .display_header{
    display: inherit;
    font-weight: 800;
    font-size: 135%; 
    margin-bottom: 5%;
    
    

}

 


.about_me_display .display_group ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.about_me_display .display_group ul li{
    text-align: center;
}



/* Portfolio Page*/


/*Resume Page */


/*Contact Page (4)*/
.contact_info{
    width: 40%;
    margin: auto;
}

.contact_info ul{
    display: flex;
    width: 100%;
    list-style: none;
    justify-content: space-around;
    padding: 0;  
    
}

.contact_info ul li{
    justify-content: center;
    color: silver ;
}

.contact_info ul li a{
    text-decoration: none;
    color: silver ;
    
}

.contact_info ul li a:visited{
    text-decoration: none;
}

.contact_info ul li img{
    height: 120px;
}













    

