.about-page-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.about-page-container h1 {
  color: #DCDCDD;
}

.about-page-icon-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.about-page-icon {
  font-size: 5rem;
  color: #DCDCDD;
}
